.button {
  width: 50px;
  aspect-ratio: 1 / 1;
  background-color:black;
  color:aliceblue;
  border: 2px solid aliceblue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 2.4rem;
  font-weight: bold;
}

.button:active {
  border: 2px solid black;
  background-color:aliceblue;
  color: black;
}