.displaybox {
  height: 50px;
  width: 100%;
  border: 5px inset red;
  padding: 5px;
  font-size: 2.8rem;
  font-family: 'digital-7_monomono', monospace;
  background-color: aliceblue;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}