* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

@font-face {
  font-family: 'digital-7_monomono';
  src: url('./assets/digital-7.mono-webfont.woff2') format('woff2'),
    url('./assets/digital-7.mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  font-size: 1.8rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

header, footer {
  background: #222222;
  color:antiquewhite;
  padding: 10px;
}

article {
  background-color:antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}